*.deb
nohup.out

minecraft-wrapper/banned-ips.json
minecraft-wrapper/banned-players.json
minecraft-wrapper/eula.txt
minecraft-wrapper/logs/
minecraft-wrapper/ops.json
minecraft-wrapper/usercache.json
minecraft-wrapper/whitelist.json
minecraft-wrapper/world/
.idea
last_center.dat
ansible/roles/minecraft/files/minecraft.jar
ansible/roles/minecraft/files/plugins
ansible/roles/minecraft/files/textures
